In [153]:
#Heroes of Pymoli
import pandas as pd
import numpy as np

In [154]:
#bring in csv file
file = "Resources/purchase_data.csv"
# Read our Kickstarter data into pandas
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [155]:
#Players Count: Total Number of Unique Players
total_players = purchase_data_df.groupby('SN')['SN'].nunique()
total_players

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       1
Yathedeu43       1
Yoishirrala98    1
Zhisrisu83       1
Zontibe81        1
Name: SN, Length: 576, dtype: int64

In [156]:
#Purchasing Analysis (Total): Number of Unique Items, Average Purchase Price, Total Number of Purchases, and Total Revenue
#Calculate Unique Number of Items
unique_count = purchase_data_df.groupby('Item ID')['Item ID'].nunique()
unique_count

Item ID
0      1
1      1
2      1
3      1
4      1
      ..
178    1
179    1
181    1
182    1
183    1
Name: Item ID, Length: 179, dtype: int64

In [157]:
#Calculate Average Purchase Price
uniquepricecount = len(purchase_data_df["Item Name"].unique())
print(uniquepricecount)
avguniqueprice = purchase_data_df["Price"].mean()
print(avguniqueprice)

179
3.050987179487176

In [158]:
#Calculate Total Number of Purchases, Total Revenue
totalpurchases = purchase_data_df['Purchase ID'].count()
print (totalpurchases)
totalrevenue = purchase_data_df['Price'].sum()
print (totalrevenue)

780
2379.77

In [159]:
#Gender Demographics
#Calculate Count and Percentage of Total by Gender
#totalplayers is already calculated
total_gender_df = purchase_data_df[["SN","Gender"]]
total_gender_df
total_gender_df = total_gender_df.drop_duplicates(subset = ["SN"])
totalgendercount = total_gender_df['SN'].count()
malecount = total_gender_df[total_gender_df["Gender"]=='Male'].count()["SN"]
femalecount = total_gender_df[total_gender_df["Gender"]=='Female'].count()["SN"]
othercount = totalgendercount - malecount - femalecount
count = (malecount,femalecount,othercount)
malepercentage = malecount / totalgendercount
femalepercentage = femalecount / totalgendercount
otherpercentage = 1 - (malepercentage + femalepercentage)
percentage = (malepercentage,femalepercentage,otherpercentage)
#Create Gender Summary dataframe, transposed
gendersummary_df = pd.DataFrame([count,percentage],index=['Count','Percentage'],columns=['Male','Female','Other']).T
gendersummary_df

        Count  Percentage
Male    484.0    0.840278
Female   81.0    0.140625
Other    11.0    0.019097

In [160]:
#Calculate the Gender Purchasing Metrics (Purchase Count, Avg Purchase Price, Total Purchases, &
#Average Purchase Total per Person by Gender).
avgpurchase = purchase_data_df.loc[purchase_data_df["Gender"]=="Male"]
avgpurchasemale = avgpurchase["Price"].mean()
totalpurchasemale = avgpurchase["Price"].sum()

avgpurchase = purchase_data_df.loc[purchase_data_df["Gender"]=="Female"]
avgpurchasefemale = avgpurchase["Price"].mean()
totalpurchasefemale = avgpurchase["Price"].sum()

avgpurchase = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed"]
avgpurchaseother = avgpurchase["Price"].mean()
totalpurchaseother = avgpurchase["Price"].sum()
#Build dataframe and summary table for Purchase Analysis by Gender
gender_pur_summary_df = pd.DataFrame({"Purchase Count": [malecount,femalecount,othercount],"Average Purchase Price": [avgpurchasemale,avgpurchasefemale,avgpurchaseother],"Total Purchase Value": [totalpurchasemale,totalpurchasefemale,totalpurchaseother],"Avg Purchase Total per Person by Gender":[totalpurchasemale/malecount,totalpurchasefemale/femalecount,totalpurchaseother/othercount],"Category":["Male", "Female", "Other/Non-Disclosed"]})
#Format and arrange Columns.  Convert numbers to Currency
genderpur_final_df = gender_pur_summary_df.set_index("Category")
gender_pur_summary_df = gender_pur_summary_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Purchase Total per Person by Gender"]]
genderpur_final_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Purchase Total per Person by Gender":"${:.2f}"})