In [25]:
#Heroes of Pymoli
import pandas as pd
import numpy as np

In [26]:
#bring in csv file
file = "Resources/purchase_data.csv"
# Read our Kickstarter data into pandas
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [27]:
#Players Count: Total Number of Unique Players
total_players = purchase_data_df.groupby('SN')['SN'].nunique()
total_players

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       1
Yathedeu43       1
Yoishirrala98    1
Zhisrisu83       1
Zontibe81        1
Name: SN, Length: 576, dtype: int64

In [28]:
#Purchasing Analysis (Total): Number of Unique Items, Average Purchase Price, Total Number of Purchases, and Total Revenue
#Calculate Unique Number of Items
unique_count = purchase_data_df.groupby('Item ID')['Item ID'].nunique()
unique_count

Item ID
0      1
1      1
2      1
3      1
4      1
      ..
178    1
179    1
181    1
182    1
183    1
Name: Item ID, Length: 179, dtype: int64

In [29]:
#Calculate Average Purchase Price
uniquepurchaseprice = purchase_data_df.groupby("Item Name")
uniquepurchaseprice[["Price"]].mean()

                                 Price
Item Name
Abyssal Shard                     2.67
Aetherius, Boon of the Blessed    3.39
Agatha                            3.08
Alpha                             2.07
Alpha, Oath of Zeal               4.05
...                                ...
Wolf                              3.54
Wolf, Promise of the Moonwalker   4.48
Worldbreaker                      2.60
Yearning Crusher                  4.18
Yearning Mageblade                3.82

[179 rows x 1 columns]

In [30]:
#Calculate Total Number of Purchases, Total Revenue
totalpurchases = purchase_data_df['Purchase ID'].count()
print (totalpurchases)
totalrevenue = purchase_data_df['Price'].sum()
print (totalrevenue)

780
2379.77

In [32]:
#Gender Demographics
#Calculate Count and Percentage of Total by Gender
#totalplayers is already calculated
malecount = pd.value_counts(purchase_data_df['Gender'],'Male')
femalecount = pd.value_counts(purchase_data_df['Gender'],'Female')
othercount = pd.value_counts(purchase_data_df['Gender'],'Other / Non-Disclosed')
gendertotal = purchase_data_df['Gender'].count()
malepercentage = malecount / gendertotal
femalepercentage = femalecount / gendertotal
otherpercentage = othercount / gendertotal
print(malepercentage)
print(malecount)

Male                     0.835897
Female                   0.144872
Other / Non-Disclosed    0.019231
Name: Gender, dtype: float64
Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64