In [2]:
#Heroes of Pymoli
import pandas as pd
import numpy as np

In [3]:
#bring in csv file
file = "Resources/purchase_data.csv"
# Read our Kickstarter data into pandas
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Players Count: Total Number of Unique Players
total_players = purchase_data_df.groupby('SN')['SN'].nunique()
ttlplayers = total_players.sum()
ttlplayers_df = pd.DataFrame({"Total Unique Players":[ttlplayers]})
ttlplayers_df

   Total Unique Players
0                   576

In [5]:
#Purchasing Analysis (Total): Number of Unique Items, Average Purchase Price, Total Number of Purchases, and Total Revenue
#Calculate Unique Number of Items
unique_count = purchase_data_df.groupby('Item ID')['Item ID'].nunique()
unique_count_ttl = unique_count.count()
uniqueitemsttl_df = pd.DataFrame({"Unique Items":[unique_count_ttl]})
uniqueitemsttl_df

   Unique Items
0           179

In [6]:
#Calculate Average Purchase Price
uniquepricecount = len(purchase_data_df["Item Name"].unique())
avguniqueprice = purchase_data_df["Price"].mean()
avgpsummary_df = pd.DataFrame({"Average Purchase Price":[avguniqueprice]})
avgpsummary_df
avgpsummary_df.style.format({"Average Purchase Price":"${:.2f}"})

In [16]:
#Calculate Total Number of Purchases, Total Revenue
totalpurchases = purchase_data_df['Purchase ID'].count()
totalrevenue = purchase_data_df['Price'].sum()
totals_df = pd.DataFrame({"Total Purchases":[totalpurchases],"Total Revenue":[totalrevenue]})
totals_df
totals_df.style.format({"Total Revenue":"${:.2f}"})

In [8]:
#Gender Demographics
#Calculate Count and Percentage of Total by Gender
#totalplayers is already calculated
total_gender_df = purchase_data_df[["SN","Gender"]]
total_gender_df
total_gender_df = total_gender_df.drop_duplicates(subset = ["SN"])
totalgendercount = total_gender_df['SN'].count()
malecount = total_gender_df[total_gender_df["Gender"]=='Male'].count()["SN"]
femalecount = total_gender_df[total_gender_df["Gender"]=='Female'].count()["SN"]
othercount = totalgendercount - malecount - femalecount
count = (malecount,femalecount,othercount)
malepercentage = malecount / totalgendercount
femalepercentage = femalecount / totalgendercount
otherpercentage = 1 - (malepercentage + femalepercentage)
percentage = (malepercentage,femalepercentage,otherpercentage)
#Create Gender Summary dataframe, transposed
gendersummary_df = pd.DataFrame([count,percentage],index=['Count','Percentage'],columns=['Male','Female','Other']).T
gendersummary_df

        Count  Percentage
Male    484.0    0.840278
Female   81.0    0.140625
Other    11.0    0.019097

In [9]:
#Calculate the Gender Purchasing Metrics (Purchase Count, Avg Purchase Price, Total Purchases, &
#Average Purchase Total per Person by Gender).
avgpurchase = purchase_data_df.loc[purchase_data_df["Gender"]=="Male"]
avgpurchasemale = avgpurchase["Price"].mean()
totalpurchasemale = avgpurchase["Price"].sum()

avgpurchase = purchase_data_df.loc[purchase_data_df["Gender"]=="Female"]
avgpurchasefemale = avgpurchase["Price"].mean()
totalpurchasefemale = avgpurchase["Price"].sum()

avgpurchase = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed"]
avgpurchaseother = avgpurchase["Price"].mean()
totalpurchaseother = avgpurchase["Price"].sum()
#Build dataframe and summary table for Purchase Analysis by Gender
gender_pur_summary_df = pd.DataFrame({"Purchase Count": [malecount,femalecount,othercount],"Average Purchase Price": [avgpurchasemale,avgpurchasefemale,avgpurchaseother],"Total Purchase Value": [totalpurchasemale,totalpurchasefemale,totalpurchaseother],"Avg Purchase Total per Person by Gender":[totalpurchasemale/malecount,totalpurchasefemale/femalecount,totalpurchaseother/othercount],"Category":["Male", "Female", "Other/Non-Disclosed"]})
#Format and arrange Columns.  Convert numbers to Currency
genderpur_final_df = gender_pur_summary_df.set_index("Category")
gender_pur_summary_df = gender_pur_summary_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Purchase Total per Person by Gender"]]
genderpur_final_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Purchase Total per Person by Gender":"${:.2f}"})

In [10]:
#Age Demographics: same metrics Purchase Count, Avg Purchase Price, Total Purchase Value, Avg Purchase Total
#per Person by the Age Group.
#Use bins & pd.cut
#Bins (<10, 10-14, 15-19,...by 4 year increments) Min is 7, Max is 45
bins = [0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,44.90,99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", ">44"]
age_df = purchase_data_df
age_df["Age Groups"] = pd.cut(purchase_data_df["Age"],bins,labels=age_groups)
age_df.head()
avgpurchasebybin1 = age_df.loc[age_df["Age Groups"]=="<10"]
avgpurchasebin1 = avgpurchasebybin1["Price"].mean()
totalpurchasebin1 = avgpurchasebybin1["Price"].sum()
totalcountbin1 = avgpurchasebybin1["Age Groups"].count()
avgpurchasebybin2 = age_df.loc[age_df["Age Groups"]=="10-14"]
avgpurchasebin2 = avgpurchasebybin2["Price"].mean()
totalpurchasebin2 = avgpurchasebybin2["Price"].sum()
totalcountbin2 = avgpurchasebybin2["Age Groups"].count()
avgpurchasebybin3 = age_df.loc[age_df["Age Groups"]=="15-19"]
avgpurchasebin3 = avgpurchasebybin3["Price"].mean()
totalpurchasebin3 = avgpurchasebybin3["Price"].sum()
totalcountbin3 = avgpurchasebybin3["Age Groups"].count()
avgpurchasebybin4 = age_df.loc[age_df["Age Groups"]=="20-24"]
avgpurchasebin4 = avgpurchasebybin4["Price"].mean()
totalpurchasebin4 = avgpurchasebybin4["Price"].sum()
totalcountbin4 = avgpurchasebybin4["Age Groups"].count()
avgpurchasebybin5 = age_df.loc[age_df["Age Groups"]=="25-29"]
avgpurchasebin5 = avgpurchasebybin5["Price"].mean()
totalpurchasebin5 = avgpurchasebybin5["Price"].sum()
totalcountbin5 = avgpurchasebybin5["Age Groups"].count()
avgpurchasebybin6 = age_df.loc[age_df["Age Groups"]=="30-34"]
avgpurchasebin6 = avgpurchasebybin6["Price"].mean()
totalpurchasebin6 = avgpurchasebybin6["Price"].sum()
totalcountbin6 = avgpurchasebybin6["Age Groups"].count()
avgpurchasebybin7 = age_df.loc[age_df["Age Groups"]=="35-39"]
avgpurchasebin7 = avgpurchasebybin7["Price"].mean()
totalpurchasebin7 = avgpurchasebybin7["Price"].sum()
totalcountbin7 = avgpurchasebybin7["Age Groups"].count()
avgpurchasebybin8 = age_df.loc[age_df["Age Groups"]=="40-44"]
avgpurchasebin8 = avgpurchasebybin8["Price"].mean()
totalpurchasebin8 = avgpurchasebybin8["Price"].sum()
totalcountbin8 = avgpurchasebybin8["Age Groups"].count()
avgpurchasebybin9 = age_df.loc[age_df["Age Groups"]==">44"]
avgpurchasebin9 = avgpurchasebybin9["Price"].mean()
totalpurchasebin9 = avgpurchasebybin9["Price"].sum()
totalcountbin9 = avgpurchasebybin9["Age Groups"].count()
#Build dataframe and summary table for Purchase Analysis by Age Groups
agegroup_purchase_summary_df = pd.DataFrame({"Purchase Count": [totalcountbin1,totalcountbin2,totalcountbin3,totalcountbin4,totalcountbin5,totalcountbin6,totalcountbin7,totalcountbin8,totalcountbin9],"Average Purchase Price": [avgpurchasebin1,avgpurchasebin2,avgpurchasebin3,avgpurchasebin4,avgpurchasebin5,avgpurchasebin6,avgpurchasebin7,avgpurchasebin8,avgpurchasebin9],"Total Purchase Value": [totalpurchasebin1,totalpurchasebin2,totalpurchasebin3,totalpurchasebin4,totalpurchasebin5,totalpurchasebin6,totalpurchasebin7,totalpurchasebin8,totalpurchasebin9],"Avg Purchase Total per Person by Age Group":[totalpurchasebin1/totalcountbin1,totalpurchasebin2/totalcountbin2,totalpurchasebin3/totalcountbin3,totalpurchasebin4/totalcountbin4,totalpurchasebin5/totalcountbin5,totalpurchasebin6/totalcountbin6,totalpurchasebin7/totalcountbin7,totalpurchasebin8/totalcountbin8,totalpurchasebin9/totalcountbin9],"Age Groups":["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", ">44"]})
#Format and arrange Columns.  Convert numbers to Currency
agegroup_final_df = agegroup_purchase_summary_df.set_index("Age Groups")
agegroup_purchase_summary_df = agegroup_purchase_summary_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Purchase Total per Person by Age Group"]]
agegroup_final_df.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}","Avg Purchase Total per Person by Age Group":"${:.2f}"})

In [11]:
#Create dataframe from original group by Name
top_spenders_df = purchase_data_df.groupby("SN")
#Calculate
topspend_count = top_spenders_df["Price"].count()
topspend_avgprice = top_spenders_df["Price"].mean()
topspend_totalvalue = top_spenders_df["Price"].sum()
topspendsummary_df = pd.DataFrame({"Purchase Count":topspend_count,"Average Purchase Price":topspend_avgprice,"Total Purchase Value": topspend_totalvalue})
topspendfinal = topspendsummary_df.sort_values(by=['Total Purchase Value'], ascending=False)
topspendfinal.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [12]:
#Create dataframe from original group Item ID and Item Name
top_items_df = purchase_data_df.groupby(["Item ID","Item Name"])
#Calculate
topitem = top_items_df["Item Name"].unique
topitem_count = top_items_df["Price"].count()
topitem_avg = top_items_df["Price"].mean()
topitem_total = top_items_df["Price"].sum()
topitemsummary_df = pd.DataFrame({"Purchase Count":topitem_count,"Average Purchase Price":topitem_avg,"Total Purchase Value": topitem_total}).round(2)
topitemfinal = topitemsummary_df.sort_values(by=['Purchase Count'], ascending=False)
topitemfinal.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [13]:
#Resort final dataframe from above to show Top 5 by Total Purchase Value
topprofitfinal = topitemsummary_df.sort_values(by=['Total Purchase Value'], ascending=False)
topprofitfinal.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80