In [12]:
#Heroes of Pymoli
import pandas as pd
import numpy as np

In [13]:
#bring in csv file
file = "Resources/purchase_data.csv"
# Read our Kickstarter data into pandas
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
#Players Count: Total Number of Unique Players
total_players = purchase_data_df.groupby('SN')['SN'].nunique()
total_players

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       1
Yathedeu43       1
Yoishirrala98    1
Zhisrisu83       1
Zontibe81        1
Name: SN, Length: 576, dtype: int64

In [15]:
#Purchasing Analysis (Total): Number of Unique Items, Average Purchase Price, Total Number of Purchases, and Total Revenue
#Calculate Unique Number of Items
unique_count = purchase_data_df.groupby('Item ID')['Item ID'].nunique()
unique_count

Item ID
0      1
1      1
2      1
3      1
4      1
      ..
178    1
179    1
181    1
182    1
183    1
Name: Item ID, Length: 179, dtype: int64

In [42]:
uniquepurchaseprice_df = purchase_data_df.groupby('Item Name')['Price'].nunique()
uniquepurchaseprice_df

Item Name
Abyssal Shard                      1
Aetherius, Boon of the Blessed     1
Agatha                             1
Alpha                              1
Alpha, Oath of Zeal                1
                                  ..
Wolf                               1
Wolf, Promise of the Moonwalker    1
Worldbreaker                       1
Yearning Crusher                   1
Yearning Mageblade                 1
Name: Price, Length: 179, dtype: int64